<template>
  <div>
    <input type="text" v-model="search" />

    <div v-for="item in filteredItems" :key="item.food">
      <span>
        {{ item.food }}
      </span>
      <span>
        {{ item.weight }}
      </span>
    </div>
    <div class="table">
      <div class="headers" v-for="(header, index) in headers" :key="index">
        {{ header }}
      </div> <button v-on:click="sortByQuantity"> {{ "sortByQuantity" }}  </button>
      <div class="values" v-for="object in ingrs" :key="object.id">
        {{ object.quantity }}
      </div> <button v-on:click="reverseByQuantity"> {{ "reverseByQuantity" }}  </button>
      <div class="values" v-for="object in ingrs" :key="object.id">
        {{ object.unit }}
      </div>
      <div class="values" v-for="object in ingrs" :key="object.id">
        {{ object.food }}
      </div>
      <div class="values" v-for="object in ingrs" :key="object.id">
        {{ object.calories }}
      </div>
      <div class="values" v-for="object in ingrs" :key="object.id">
        {{ object.weight }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Main",
  data() {
    return {
      search: "",
      ingrs: [
        { quantity: 1, unit: "cup", food: "rice", calories: 702, weight: 195 },
        {
          quantity: 2,
          unit: "whole",
          food: "potato",
          calories: 328,
          weight: 426,
        },
        {
          quantity: 50,
          unit: "whole",
          food: "carrot",
          calories: 1250.5,
          weight: 3050,
        },
        {
          quantity: 10,
          unit: "whole",
          food: "apple",
          calories: 946.4,
          weight: 1820,
        },
      ],
    };
  },
  computed: {
    filteredItems() {
      if (this.search.length > 1) {
        return this.ingrs.filter(
          (x) =>
            x.food.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
            String(x.weight).indexOf(this.search.toLowerCase()) > -1
        );
      }
      return this.ingrs;
    },
    headers() {
      return Object.keys(this.ingrs[0]);
    },
  },
  methods: {
    sortByQuantity() {
      return this.ingrs.sort((a, b) => (a.quantity > b.quantity ? 1 : -1));
    },
    reverseByQuantity() {
      return this.ingrs.sort((a, b) => (a.quantity < b.quantity ? 1 : -1));
    },
  }
};
</script>
<style>
.table {
  display: flex;
  width: 400px;
}
.headers {
  padding: 0 10px;
}
.values {
  padding: 0 10px;
}
</style>